node_modules
dist
target
result
vendor/bpmn-js-modeler
vendor/dmn-js-modeler
vendor/form-js-modeler
vendor/bpmn-auto-layout/
desktop/src-tauri/target
*.tmp
vscode-operaton-bpmn-js-modeler
vscode-operaton-dmn-js-modeler
vscode-operaton-form-js-modeler
